<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title or "Hardlink-Web" }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <main class="wrap">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="toast">
          {% for m in messages %}
            <div class="toast-item">{{ m }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </main>

  <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
